{% extends 'base.html.twig' %} {% block title %}Hello UserController!{% endblock
%} {% block body %}
    <div class="flex">
      <div>
            <img src="{{user.PictureUrl}}" alt="userPicture">
      </div>
      <div>
        <p><strong>FirstName</strong> :{{ user.FirstName }}</p><br>
        <p><strong>LastName</strong> :{{ user.LastName }}</p><br>
        <p><strong>Lieux</strong> :{{ user.hometown.name }}</p><br>
      </div>
    </div>
 
{% endblock %}
